body {
	background-color: white;
	margin:10px
}

h1 {
	font-family: 'Bad Script', cursive;
	font-size: 24px;
	color: black;
	text-align:center;
	margin: 2px;
	padding: 2px;
}

p {
	font-family: 'Alegreya Sans SC', sans-serif;	
	font-size:13px;
	margin: 1px;
	padding: 1px;
}

#curlingbana {
	border: none;
	margin: 10px;
}

#wrapper {
	margin: auto;
	width: 1000px;
	text-align: center;
}

#player2 {
	color: #FF4747; 

}

#player1 {
	color: #0099FF; 
}

#game {
	width: 810px;
	float: left;

}

#info{
	width: 170px;
	margin-top: 10px;
	padding: 10px;
	text-align: left;
	float: right;
}