body {
	background-color: white;
	margin:10px
}

h1 {
	font-family: 'Bad Script', cursive;
	font-size: 28px;
	color: black;
	text-align:center;
}

p {
	font-family: 'Alegreya Sans SC', sans-serif;	
	font-size:13px;
	margin: 1px;
	padding: 1px;
}

#curlingbana {
	border: none;
	margin: 10px;
}

#wrapper {
	margin: auto;
	width: 800px;
	text-align: center;
}